In [1]:
# 주석처리 crtl + /

* mark down 상태에서 코드로 변경할 때 : y
* 실행 단축키
    * ctrl + enter : 현재 셀 실행
    * shift + enter : 현재 셀 실행 후 아래 셀 이동(단, 아래 셀이 없을 경우 추가)
    * alt + enter : 현재 셀 실행 후 아래 셀 추가 및 이동

In [2]:
1+1

2

In [3]:
num = 3
print(num)

3

In [4]:
num = 2.5
num

2.5

In [5]:
num = "김미희"
print(num)

김미희

In [6]:
num = '정형'
print(num)

정형

In [7]:
a = 10
b = 15
c,d = 10, 15
print(a,b,c,d)

10 15 10 15

In [8]:
# str1과 str2에 python 문자열 대입
str1 = "python"
str2 = "python"
str3 = str4 = "python"
print(str1,str2,str3,str4)

python python python python

In [11]:
state = True
state2 = False
print(state)
print(state2)

True
False

In [15]:
s1 = "she's gone"
s2 = 'she\'s gone'
print(s1)
print(s2)

she's gone
she's gone

In [16]:
# '문자열' vs "문자열"
# 문자열 안에 ' 표현하고 싶을 때는 ""사용
# 문자열 안에 " 표현하고 싶을 때는 ''사용

s1 = "she's gone"
print(s1)

she's gone

In [17]:
s2 = 'he said that "she is gone"'
print(s2)

he said that "she is gone"

In [ ]:
#문자열에 ""와 ''같이 사용한다면 역슬러시 \를 넣어준다.

In [20]:
s3 = """자세히 보아야 예쁘다
오래 보아야 사랑스럽다.
너도 그렇다.
4줄
5줄"""



print(s3)

자세히 보아야 예쁘다
오래 보아야 사랑스럽다.
너도 그렇다.
4줄
5줄

In [19]:
"""여러줄 주석문 만들기
1번째 줄
2번째 줄"""

# 주석으로 """주석내용""" 사용하기
# 주석으로 '''주석내용''' 사용하기
#  print 사용하기

'여러줄 주석문 만들기\n1번째 줄\n2번째 줄'

In [26]:
# 문자열 인덱싱

s4 = 'My name is MH'
print(s4[0])
print(s4[8])
print(s4[12])
print(s4[-1])
print(s4[-4])

M
i
H
H
s

In [27]:
print(s4[3]+s4[4]+s4[5]+s4[6])

name

In [39]:
# 문자열 슬라이싱
s5 = 'My name is MH'

print(s5[0:4])
print(s5[3:11])
print(s5[3:15])
print(s5[-5:-1])

# 0부터 잘라내고 싶을 때
print(s5[:4])
print(s5[3:])
print(s5[-5:])
print(s5[10:3])
print(s5[3:10])

My n
name is
name is MH
is M
My n
name is MH
is MH

name is

In [42]:
day = "2022년 3월 3일의 날짜는 맑음입니다."
print("날짜 : "+day[:11])
print("날짜 : "+day[-6:-4])

날짜 : 2022년 3월 3일
날짜 : 맑음

In [45]:
month = 3
day = 23
s6 = "오늘은 "+str(month)+"월"+str(day)+"일 입니다."
print(s6)

오늘은 3월23일 입니다.

In [53]:
# %기호 호매팅 -> %d를 활용해서 정수 대입
month = 3
day = 23
s6 = "오늘은 %d월 %d일 입니다." %(month,day)
print(s6)

오늘은 3월 23일 입니다.

In [55]:
# format 함수 포매팅
month = 3
day = 23
s6 = "오늘은 {}월 {}일 입니다".format(month,day)
print(s6)

오늘은 3월 23일 입니다

In [56]:
# f문자열 포매팅
month = 3
day = 23
s6 = f"오늘은 {month}월 {day}일 입니다."
print(s6)

오늘은 3월 23일 입니다.

In [65]:
x=100
y=200
sum2=x+y
print("{}와 {}의 합은 {}입니다.".format(x,y,x+y))
print("%d와 %d의 합은 %d입니다."%(x,y,x+y))
print(f"{x}와 {y}의 합은 {sum2}입니다.")
# %기호 포매팅과 format 함수 포매팅은 x+y연산되는 상태로 출력이 가능하나,
# f문자열 포매팅의 경우는 포매팅 {}내부 연산이 불가능하다.

100와 200의 합은 300입니다.
100와 200의 합은 300입니다.
100와 200의 합은 300입니다.

In [71]:
s7 = "My name is Mihee"

# 문자열에 포함된 문자 개수 세기
print(s7.count('e'))
print(s7.count("Mihee"))

# 문자 위치 알려주기
print(s7.index("e"))
print(s7.find("e"))

# 대소문자 변환
print(s7.upper())
print(s7.lower())

# 문자열 바꾸기
print(s7.replace("Mihee","KimMihee"))
print(s7.rfind("e"))

# 문자열 자르기(리스트타입으로 반환된다.)
print(s7.split())


# 문자길이 확인
print(len(s7))
# len은 1부터 샌다.

3
1
6
6
MY NAME IS MIHEE
my name is mihee
My name is KimMihee
15
['My', 'name', 'is', 'Mihee']
16